       
        
.card{
    background-color:green ;
    width: 300px;
   margin: 20px;
   box-sizing: border-box;
   box-shadow: 8px 8px 5px black;
}
.front-img{
    width: 100%;
}
.card-body{
    background-color: green;
    color: red;
    text-align: center;
    padding: 5px;
    font-size: x-large;


}
.card-drescripsion {
    background: black;
    color: white;
    padding: 5px;

text-align: justify;
line-height: 1.9em;

}
span:hover{
    color: tomato;
text-decoration: underline;
cursor: pointer;


}
.card:hover{
    box-shadow: 10px 10px 12px black;
    transition: 0.4s;
}